<html ng-app="myapp1">
<head>
    <link href="/assets/libs/ace/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/libs/ace/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/libs/ace/css/ace.min.css"/>
    <link rel="stylesheet" href="/assets/libs/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="/assets/libs/ace/css/ace-skins.min.css"/>
    <script src="/assets/libs/ace/js/ace-extra.min.js"></script>
</head>

<div class="navbar navbar-default" id="navbar" style="height: 45px;background: green">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    主数据系统
                </small>
            </a><!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="green">
                    <img class="nav-user-photo" src="/assets/libs/ace/avatars/avatar4.png"/>
								<span class="user-info">
									<small style="color: whitesmoke">欢迎!</small>
								</span>
                </li>
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>


<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="">
                        <i class="icon-book" style="color: green"></i>
                        <span class="" style="color: green"> 信息列表 </span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="main-content" ng-controller="mdsController1">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span style="color: green;">主数据</span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            表详情
                        </small>

                        <a class="btn btn-minier btn-info" href="/mds/" style="float: right">返回</a>
                    </h1>
                </div>

                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-sm-12">
                                <h4>表名: {{ name }}</h4>
                            </div>

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="text-success">描述</h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h4 ng-show="description" style="display: inline-block">{{ description }}</h4>
                                                            <span ng-show="!description"><textarea style='height:150px;width:400px;resize: none;' ng-model="descriptionInfo"></textarea></span>
                                                            <button class="btn btn-minier btn-purple"
                                                                    ng-click="description=false" ng-show="description">
                                                                <i class="icon-edit bigger-120"></i>
                                                            </button>

                                                            <button class="btn btn-minier btn-info"
                                                                    ng-click="saveContent()" ng-show="!description">
                                                                <i class="icon-check bigger-120"></i>
                                                            </button>
                                                            <button class="btn btn-minier btn-danger"
                                                                    ng-click="description=true" ng-show="!description">
                                                                <i class="icon-reply bigger-120"></i>
                                                            </button>

                                                            <span class="alert alert-block alert-danger" ng-show="descAlert">
                                                                修改信息失败,请联系管理员
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="text-success"><i class="icon-code"></i>建表语句</h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <pre class="prettyprint linenums">
{{ create_table }}
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="text-success">
                                                    字段说明
                                                    <button class="btn btn-minier btn-purple" ng-click="columnDescription=false;" ng-show="columnDescription">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </button>

                                                    <button class="btn btn-minier btn-info"
                                                            ng-click="saveColumnInfo()" ng-show="!columnDescription">
                                                        <i class="icon-check bigger-120"></i>
                                                    </button>
                                                    <button class="btn btn-minier btn-danger"
                                                            ng-click="columnDescription=true" ng-show="!columnDescription">
                                                        <i class="icon-reply bigger-120"></i>
                                                    </button>

                                                    <span class="alert alert-block alert-danger" ng-show="columnDescAlert">
                                                                修改信息失败,请联系管理员
                                                    </span>
                                                </h4>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
{#          #}
                                                            <table class="table table-bordered table-striped">
                                                                <thead class="thin-border-bottom">
                                                                <tr>
                                                                    <th>
                                                                        <i class="icon-caret-right green"></i>
                                                                        列名称
                                                                    </th>
                                                                    <th>
                                                                        <i class="icon-caret-right green"></i>
                                                                        说明
                                                                    </th>
                                                                </tr>
                                                                </thead>

                                                                <tbody>
                                                                {% for line in columns %}
                                                                <tr>
                                                                    <td>{{ line.column }}</td>
                                                                    <td><span ng-show="columnDescription">{{ line.info }}</span> <input type="text" ng-show="!columnDescription" id="row{{ forloop.counter }}"></td>
                                                                </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>

{# 字段说明 按表结构展示 解析json字符串 #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="text-success">血缘</h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h4>{{ blood }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/assets/libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/ace/js/bootstrap.min.js"></script>
    <script src="/assets/libs/ace/js/ace-elements.min.js"></script>
    <script src="/assets/libs/ace/js/ace.min.js"></script>

    <script src="/assets/libs/bower_components/angular/angular.min.js"></script>
    <script src="/assets/libs/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/assets/js/app1.js"></script>
    <script src="/assets/js/controller1.js"></script>
</html>